@using mvcapp.Models.Activities;
@model ActivitiesViewModel;

@{
    ViewData["Title"] = "Активности";
}

<div>

    @{
        await Html.RenderPartialAsync("AddActivity", Model.AddViewModel);
    }

    <hr/>

    <div class="d-flex align-items-center gap-2">
        <h2>Активности ваших команд</h2>
    </div>
    @if (Model.Activities.Any())
    {
        @foreach (var activity in Model.Activities)
        {
            <div class="card mb-2">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div class="fw-bold">@activity.Name <span class="badge bg-info">Тип: @activity.Type.Name</span> <span class="badge bg-success">Команда: @activity.Team.Name</span></div>
                    
                    <div>@Html.ActionLink("Подробнее", "ById", "Activity", new { id = activity.Id }, new { @class = "btn btn-primary" })</div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p>Описание: @activity.Description</p>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div><span class="fw-bold">Создана</span> @activity.StartDate.Value.ToLocalTime()</div>
                    @if (activity.EndDate == null)
                    {
                        <div><span class="fw-bold">Статус</span> В процессе</div>
                    }
                    else
                    {
                        <div>
                            <div><span class="fw-bold">Статус</span> Выполнена @activity.EndDate.Value.ToLocalTime()</div>
                            <div><span class="fw-bold">Оценка</span> @activity.Mark из @activity.Type.MaxMark</div>
                        </div>
                    }
                </div>
            </div>
        }

        <p>
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="btn btn-primary @(Model.PageViewModel.HasPreviousPage ? "" : "disabled")">
                Назад
            </a>


            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="btn btn-primary @(Model.PageViewModel.HasNextPage ? "" : "disabled")">
                Вперед
            </a>
        </p>
    }
    else
    {
        <div class=“alert alert-info” role=“alert”>
            У вас еще нет активностей.
        </div>
    }
</div>