@using mvcapp.Models.Team;
@model TeamsViewModel;

@{
    ViewData["Title"] = "Команда";
}

<div class=“container mt-5”>
    <div class=“row”>
        <div class=“col-md-6 offset-md-3”>
            <h2 class=“text-center”>Создать новую команду</h2>
            <div>
                <form asp-action="Create">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <div>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-people-group"></i>
                                </span>
                                <div class="form-floating">
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Введите нащвание команды"/>
                                    <label asp-for="Name" class="form-label">Название</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                    <span class="text-danger" asp-validation-for="Name"></span>
                    <div class="text-danger mb-2">@ViewBag.Error</div>
                </form>
            </div>

            <hr />
            <div class="d-flex align-items-center gap-2">
                <h2 class=“text-center”>Ваши команды</h2>
                <div class="text-danger mb-2">@ViewBag.DeleteTeamError</div>
            </div>
            @if (Model.MyTeams.Any())
            {
                @foreach (var team in Model.MyTeams)
                {
                    <div class="card mb-2">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <div class="fw-bold">@team.Name</div>
                            <button class="btn btn-primary">Подробнее</button>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                @if(team.CurrentUserIsOwner)
                                {
                                    <div>
                                        <span class="fw-bold">Владелец:</span>
                                        <span>Вы</span>
                                    </div>
                                    <div>
                                        <span class="fw-bold">Участники: </span>
                                        <span>@team.Members.Count()</span>
                                    </div>
                                    @using (Html.BeginForm("Delete", "Team", new { id = team.Id }))
                                    {
                                        <button class="btn btn-danger">Удалить</button>
                                    }
                                }
                                else
                                {
                                    <div>
                                        <span class="fw-bold">Владелец:</span>
                                        <span>@team.Owner.Name @team.Owner.Surname</span>
                                    </div>
                                    
                                    @using (Html.BeginForm("Leave", "Team", new {id = team.Id}))
                                    {
                                        <button class="btn btn-primary" type="submit">Покинуть</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class=“alert alert-info” role=“alert”>
                    У вас еще нет команд.
                </div>
            }
        </div>
    </div>
</div>
