@using mvcapp.Models.Team;
@using Domain.Entities

@model TeamViewModel;

@{
    ViewData["Title"] = Model.Team.Name;
    var teams = new List<Team> { Model.Team };
}

<div>
    <div>
        @using (Html.BeginForm("AddUser", "Team", FormMethod.Post)) 
        {
            @Html.HiddenFor(model => model.Team)

            <div class="form-group">
                @Html.LabelFor(model => model.SelectedUserId, "User")
                @Html.DropDownListFor(model => model.SelectedUserId, 
                    new SelectList(Model.Users, "Id", "FullName"), 
                    "Выберите пользователя",
                    new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.SelectedTeamId,
                         new SelectList(teams, "Id", "Name"),
                    new { @class = "form-control", style = "display: none;" })
            </div>

            <input type="submit" value="Добавить" class="btn btn-primary" />
        }
        <div class="text-danger mb-2">@ViewBag.AddUserError</div>
    </div>
    <h3 class="fw-bold mb-3">@Model.Team.Name</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Владелец команды</th>
            @if (Model.Team.CurrentUserIsOwner)
            {
                <th scope="col">Действие</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Team.Members)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                @if (user.Id == Model.Team.Owner.Id)
                {
                    <td>
                        <i class="fa-solid fa-check"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa-solid fa-xmark"></i>
                    </td>
                }
                @if (Model.Team.CurrentUserIsOwner && Model.Team.Owner.Id != user.Id)
                {
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <div>@Html.ActionLink("Сделать владельцем", "SetOwner", "Team", new { userId = user.Id, teamId = Model.Team.Id }, new { @class = "btn btn-primary" })</div>
                            <div>@Html.ActionLink("Удалить", "KickUser", "Team", new { userId = user.Id, teamId = Model.Team.Id }, new { @class = "btn btn-danger" })</div>
                        </div>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>